/*
* 
* @author Luiz Madrid.
*
*/

/* ----------xxx---------- */

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* ######## CORES ######## */
  --corpo-color: #e4e4e4;
  --sidebar-color: #ececec;
  --primary-color: #17191f;
  --secondary-color: #272a33;
  --gold-color: #d68b43;
  --toggle-color: #ddd;
  --text-color: #323232;
}

body {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  height: 100vh;
  background: var(--corpo-color);
  overflow-x: hidden;
  overflow-y: visible;
}

body,
img {
  /* Desativar interferencia do usuario na pagina como ctrl + a ou selecionar */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Desativar interferencia do usuario na pagina como ctrl + a ou selecionar */
}

img {
  pointer-events: none;
}

/* --------xxxx-------- */

/* ==== CSS's Reusáveis ==== */

.sidebar-container .img {
  min-width: 60px;

  display: flex;
  align-items: center;
}

.wrapper {
  max-width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* ==== CSS's Reusáveis ==== */

/* --------xxxx-------- */

/* Inicio da customização da navbar */

.sidebar-container {
  width: 16vw;
  height: 100vh;
  background: var(--sidebar-color);
  color: var(--text-color);
  position: fixed;
  transition: all 0.3s;

  border-radius: 0rem 0.625rem 0.625rem 0rem;
}

.sidebar-container.close {
  transition: all 0.3s;
  width: 4vw;
}

.sidebar-container.close .logo img {
  height: 1.25rem;
}

.sidebar-container.close .img img {
  margin-left: 0.625rem;
}

.sidebar-container.close .nome,
.sidebar-container.close .links span {
  display: none;
}

.sidebar-container.close .menu .links {
  max-width: 3.9375rem;
}

.sidebar-container.close .toggle {
  right: -35%;
  transform: rotate(0deg);
}

.sidebar-container.close .search-box input {
  display: none;
}

.sidebar-container.close .pesquisa .search-box i {
  border-radius: 0.625rem;
}

.sidebar-container header {
  position: relative;
  margin: 0% 5%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 1.125rem;
}

.logo img {
  height: 2.8125rem;
}

.sidebar-container .usuario {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.sidebar-container .toggle {
  position: absolute;
  transform: rotate(180deg);
  font-size: 20px;
  right: -12%;
  padding: 0.3125rem 0.625rem;
  background: var(--toggle-color);

  border-radius: 3.125rem;
}

.sidebar-container .toggle:hover {
  background: var(--gold-color);
}

.separador-sidebar {
  margin: 20px 0rem;
  background: linear-gradient(
    90deg,
    #8b8b8b00,
    #8b8b8b55,
    #8b8b8baa,
    #8b8b8b55,
    #8b8b8b00
  );
  border: 2px solid none;

  height: 0.1rem;
  max-width: 16vw;
  min-width: 2.8vw;
}

.sidebar-container .usuario img {
  width: 2.5rem;
}

.usuario .nome {
  font-size: 1rem;
  font-weight: 500;
}

.links i {
  color: var(--text-color);
  text-align: center;
  min-width: 60px;
  font-size: 1.375rem;
  padding: 1rem;
  border-radius: 1.25rem;
}

.menu .pesquisa .search-box {
  border-radius: 1.875rem;
  padding: 10px 0rem;
}

.menu .pesquisa .search-box i {
  position: relative;
  font-size: 1.375rem;
  top: 0.1875rem;
  left: 0.1875rem;

  background-color: var(--toggle-color);
  border-radius: 0.625rem 0rem 0rem 0.625rem;
  padding: 9px 8px;
  margin-left: 10px;
}

.menu .pesquisa input {
  position: relative;

  background-color: var(--toggle-color);
  font-size: 1rem;
  height: 2.5rem;
  border-radius: 0rem 0.625rem 0.625rem 0rem;
  border: none;
  outline: none;
  width: 75%;
}

.menu li {
  font-size: 1.125rem;
  letter-spacing: -0.5px;
  margin: 0rem 0rem 1.25rem 0rem;
  list-style: none;
  color: var(--text-color);
}

.menu-links a {
  text-decoration: none;
  color: var(--text-color);
}

.menu .links {
  transition: all 0.3s;
  border-radius: 1rem;
}

.menu .links:hover {
  background-color: var(--gold-color);
}

.menu .links:hover i,
.menu .links:hover span {
  color: #fff;
  font-weight: 700;
  transition: all 0.3s;
}
